
body {
    background-color: #f4f4f4; 
    color: #333;               
}


div.container {
    background-color: #ffffff; 
    border: 1px solid #ddd;    
    padding: 20px;
}


#hero img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}




section {
    background-color: #e3f2fd; 
    border: 1px solid #90caf9; 
    margin-bottom: 20px;
    padding: 20px;
}





form input[type="text"],
form input[type="email"] {
    background-color: #ffffff; 
    border: 1px solid #bbb;    
    padding: 10px;
    border-radius: 3px;
}


form button {
    background-color: #28a745; 
    color: #fff;               
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #218838; 
}


table {
    width: 100%;
    background-color: #f9f9f9; 
    border-collapse: collapse;
}

table th {
    background-color: #007bff; 
    color: #fff;               
    padding: 10px;
    border: 1px solid #ddd;
}

table td {
    background-color: #ffffff; 
    color: #333;               
    padding: 10px;
    border: 1px solid #ddd;
}
 