body {
    background-color: antiquewhite;
}

.container {
    display: flex;
    flex-direction: row;
    border: 3px darkorchid dashed;
    padding: 5px;
    margin: 10px;
    height: 200px;
    

}

.container-reverse {
    display: flex;
    flex-direction: row-reverse;
    border: 3px darkblue dotted;
    padding: 10px;
    margin: 5px;
    height: 200px;
    align-items: stretch;
    
}

.boxes {
    border: 1px solid;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 30px;
}

#box1 {
    background-color: hsl(0, 70%, 70%);
   
}

#box2 {
    background-color: hsl(36, 70%, 70%);
   
}

#box3 {
    background-color: hsl(72, 70%, 70%);
    order: 1;
}

#box4 {
    background-color: hsl(108, 70%, 70%);
  
}

#box5 {
    background-color: hsl(144, 70%, 70%);
    
}

#box6 {
    background-color: hsl(180, 70%, 70%);
    order: 3;
}

#box7 {
    background-color: hsl(216, 70%, 70%);
}

#box8 {
    background-color: hsl(252, 70%, 70%)
}

#box9 {
    background-color: hsl(288, 70%, 70%)

}

#box10 {
    background-color: hsl(324, 70%, 70%);
   
}

header{
    margin-top: 100px;
    margin-left: 8px;
    margin-right: 8px;
}

    nav > ul {
        display: flex;
        list-style-type: none;
        padding: 14px 0 14px 0;
        /*When three values are specified, the first margin applies to the top, the second to the right and left, the third to the bottom.*/
        margin: -8px -8px -8px;
        background-color: white;
        border: 1px dashed red;
    }
    li a {
        border: 1px solid #000;
        padding: 10px 30px;
        text-decoration: none;
        color: black;
    }



 .card-body {
        border: 1px solid black;
        width: 300px;

    }
     
     .img-container img {
        max-width: 100%;
        height: auto;
     }
     
     .card-body p, .card-body h1 {
        margin: 8px;
     }
     







    .link1{
        
    }
    .link2{

    }
    .link3{
    }
    .link4{

    }
    .link5{

    }